{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body-content %}

    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>MobileShop gives you a chance</h3>
                    <p>We have been in the business for quite a while now, and in that time we have not only managed to
                        make close relationships with numerous partners, but also to recognize what people need. At
                        MobileShop you will find quality products from top brands at consistently low prices. We are
                        offering a wide range of smartphones and tablets, notebooks and computer equipment, headsets and
                        smartwatches, small household appliances and other electronics. Intelligent filter options and
                        complete product information help customers to find exactly the products that suit them.</p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}